pubg-korean-support-workflow.json
{
  "name": "PUBG Korean Support - Meta-M Performance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "매주 월요일 오전 9시",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://pubgsupport.zendesk.com/api/v2/search.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "type:ticket group:\"Korean support\" brand_id:114094569274 status:solved updated>={{ $now.minus(7, 'days').format('YYYY-MM-DD') }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-tickets",
      "name": "Zendesk - 티켓 수집",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 280],
      "credentials": {
        "httpBasicAuth": {
          "id": "zendesk-basic-auth",
          "name": "Zendesk Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://pubgsupport.zendesk.com/api/v2/satisfaction_ratings.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_time",
              "value": "={{ $now.minus(7, 'days').toUnixInteger() }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-csat",
      "name": "Zendesk - CSAT 수집",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 480],
      "credentials": {
        "httpBasicAuth": {
          "id": "zendesk-basic-auth",
          "name": "Zendesk Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 티켓 데이터\nconst tickets = $('Zendesk - 티켓 수집').first().json.results || [];\n\n// CSAT 데이터\nconst csatList = $('Zendesk - CSAT 수집').first().json.satisfaction_ratings || [];\n\n// CSAT를 ticket_id 기준으로 매핑\nconst csatMap = {};\nfor (const c of csatList) {\n  csatMap[c.ticket_id] = c.score;\n}\n\n// 상담원별 집계\nconst agentMap = {};\nfor (const t of tickets) {\n  const agentId = t.assignee_id;\n  const agentName = t.assignee?.name || `Agent_${agentId}`;\n  if (!agentMap[agentId]) {\n    agentMap[agentId] = { name: agentName, tickets: 0, frtTotal: 0, goodCsat: 0, csatResponses: 0 };\n  }\n  const a = agentMap[agentId];\n  a.tickets++;\n  a.frtTotal += t.reply_time_in_minutes?.calendar || 0;\n  const score = csatMap[t.id];\n  if (score) {\n    a.csatResponses++;\n    if (score.startsWith('good')) a.goodCsat++;\n  }\n}\n\nconst agents = Object.values(agentMap).map(a => ({\n  name: a.name,\n  tickets: a.tickets,\n  avgFRT: a.tickets > 0 ? (a.frtTotal / a.tickets / 60).toFixed(1) + 'h' : '0.0h',\n  csat: a.csatResponses > 0 ? ((a.goodCsat / a.csatResponses) * 100).toFixed(1) + '%' : 'N/A',\n  csatResponses: a.csatResponses,\n})).sort((a, b) => b.tickets - a.tickets);\n\nconst payload = {\n  agents,\n  meta: {\n    brand: 'PUBG',\n    brandId: 114094569274,\n    group: 'Korean Support',\n    vendor: 'Meta-M',\n    generatedAt: new Date().toISOString(),\n    totalAgents: agents.length,\n    totalTickets: agents.reduce((s, a) => s + a.tickets, 0),\n  }\n};\n\nreturn [{ json: payload }];\n"
      },
      "id": "aggregate-code",
      "name": "상담원별 성과 집계",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 380]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// data.json에 넣을 content를 Base64로 인코딩 (GitHub API 요구사항)\nconst payload = $input.first().json;\nconst jsonString = JSON.stringify(payload, null, 2);\nconst base64Content = Buffer.from(jsonString).toString('base64');\n\nreturn [{ json: { content: base64Content, jsonString } }];\n"
      },
      "id": "encode-base64",
      "name": "Base64 인코딩",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$vars.GITHUB_TOKEN}}" },
            { "name": "Accept",        "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "get-current-sha",
      "name": "GitHub - 현재 SHA 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 380]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$vars.GITHUB_TOKEN}}" },
            { "name": "Accept",        "value": "application/vnd.github+json" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "message": "=chore: update dashboard data ({{ $now.format('YYYY-MM-DD') }})",
          "content": "={{ $('Base64 인코딩').first().json.content }}",
          "sha": "={{ $json.sha }}"
        },
        "options": {}
      },
      "id": "github-commit",
      "name": "GitHub - data.json 커밋",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 380]
    }
  ],
  "connections": {
    "매주 월요일 오전 9시": {
      "main": [
        [
          { "node": "Zendesk - 티켓 수집", "type": "main", "index": 0 },
          { "node": "Zendesk - CSAT 수집", "type": "main", "index": 0 }
        ]
      ]
    },
    "Zendesk - 티켓 수집": {
      "main": [
        [{ "node": "상담원별 성과 집계", "type": "main", "index": 0 }]
      ]
    },
    "Zendesk - CSAT 수집": {
      "main": [
        [{ "node": "상담원별 성과 집계", "type": "main", "index": 1 }]
      ]
    },
    "상담원별 성과 집계": {
      "main": [
        [{ "node": "Base64 인코딩", "type": "main", "index": 0 }]
      ]
    },
    "Base64 인코딩": {
      "main": [
        [{ "node": "GitHub - 현재 SHA 조회", "type": "main", "index": 0 }]
      ]
    },
    "GitHub - 현재 SHA 조회": {
      "main": [
        [{ "node": "GitHub - data.json 커밋", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["zendesk", "pubg", "cs-dashboard", "meta-m", "github"],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
